<html>
<head>
  <link rel="icon" href="app/editor/static/preview-templates/favicon.ico"></link>
  <meta charset="utf-8">
  <title>Land Map Viewer-NFT Castle Defense</title>
  <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
  <canvas id="GameCanvas" oncontextmenu="event.preventDefault()" tabindex="0"></canvas>
  <div id="splash">
    <div class="progress-bar stripes">
      <span style="width: 0%"></span>
    </div>
  </div>
<script src="settings.js" charset="utf-8"></script>
<script src="boot.js" charset="utf-8"></script>
<script src="/socket.io/socket.io.js" charset="utf-8"></script>
<script src="app/engine/bin/<%=cocos2d%>" charset="utf-8"></script>
<script src="preview-scripts/__quick_compile__.js" charset="utf-8"></script>
<script src="library/web3.min.js"></script>
<script src="library/js-big-decimal.min.js"></script>
<script src="library/SDK.js"></script>
</body>
</html>
